pkgbase = noorterm
	pkgdesc = Terminal TUI for reading the Quran and Azkar offline
	pkgver = 0.1.0
	pkgrel = 1
	url = https://example.invalid/noorterm
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python
	depends = python-pillow
	depends = kitty
	depends = noto-fonts
	source = noorterm-0.1.0.tar.gz
	sha256sums = SKIP

pkgname = noorterm
